<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <img src="\images\front-view-cyber-monday-composition.jpg" alt="">
    <div class="registration-container">
        <h1>Login</h1>
        <form action="#" method="POST">
            <!-- <input type="text" name="username" placeholder="Username" required> -->
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Not Registered? <a href="\users\register">Register</a></p>
    </div>
    
    
</body>
</html>