<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/products.css">
    <title>Products</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">

    <!-- Example Code -->
    
    
        <div class="section1">
          <p>Electronics</p>
          <div class="container1">
            <div class="card">
              <img src="/images/Electronics/mobile.jpg" class="card-img-top" alt="Mobile">
              <div class="card-body">
                <div class="bottom">
                  <h5 class="card-title">Mobile:<p>10,000 Rs</p></h5>
                  <button class="btn btn-primary" onclick="addToCart('Mobile', 10000)">Buy</button>
                </div>
              </div>
            </div>
    
            <div class="card">
              <img src="/images/Electronics/laptop.jpg" class="card-img-top" alt="Laptop">
              <div class="card-body">
                <div class="bottom">
                  <h5 class="card-title">Laptop:<p>50,000 Rs</p></h5>
                  <button class="btn btn-primary" onclick="addToCart('Laptop', 50000)">Buy</button>
                </div>
              </div>
            </div>
    
            <div class="card">
              <img src="/images/Electronics/keyboard.jpg" class="card-img-top" alt="Keyboard">
              <div class="card-body">
                <div class="bottom">
                  <h5 class="card-title">Keyboard:<p>500 Rs</p></h5>
                  <button class="btn btn-primary" onclick="addToCart('Keyboard', 500)">Buy</button>
                </div>
              </div>
            </div>
    
            <div class="card">
              <img src="/images/Electronics/mouse.jpg" class="card-img-top" alt="Mouse">
              <div class="card-body">
                <div class="bottom">
                  <h5 class="card-title">Mouse:<p>500 Rs</p></h5>
                  <button class="btn btn-primary" onclick="addToCart('Mouse', 500)">Buy</button>
                </div>
              </div>
            </div>
    
            <!-- <div class="card">
              <img src="/images/Electronics/watch.jpg" class="card-img-top" alt="Smart Watch">
              <div class="card-body">
                <div class="bottom">
                  <h5 class="card-title">Smart Watch:<p>5,000 Rs</p></h5>
                  <button class="btn btn-primary" onclick="addToCart('Smart Watch', 5000)">Buy</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
    
        <!-- Repeat the above structure for Men Fashion, Women Fashion, Kids Fashion, and Fruits sections -->
        <!-- Ensure each item uses the `addToCart(itemName, itemPrice)` function -->
    
      
    
   

  <div class="section2">
    <p>Men Fashion</p>
    <div class="container1">

        <div class="card">
            <img src="\images\men_fashion\men1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
             <div class="bottom">
              <h5 class="card-title">Men Fashion 1:<p>999 Rs</p></h5>
              <button class="btn btn-primary" onclick="addToCart('Men Fashion 1', 999)">Buy</button>
              </div>
            </div>
          </div>


            <div class="card">
                <img src="\images\men_fashion\men2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                 <div class="bottom">
                  <h5 class="card-title">Men Fashion 2:<p>1,999 Rs</p></h5>
                 
                  <button class="btn btn-primary" onclick="addToCart('Men Fashion 2',1999)">Buy</button>
                  </div>
                </div>
              </div>


                <div class="card">
                    <img src="\images\men_fashion\men3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                     <div class="bottom">
                      <h5 class="card-title">Men Fashion 3:<p>2,999 Rs</p></h5>
                      
                      <button class="btn btn-primary" onclick="addToCart('Men Fashion 3', 2999)">Buy</button>
                      </div>
                    </div>
                  </div>
                    <div class="card">
                        <img src="\images\men_fashion\men4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                         <div class="bottom">
                          <h5 class="card-title">Men Fashion 4:<p>999 Rs</p></h5>
                          
                          <button class="btn btn-primary" onclick="addToCart('Men Fashion 4', 999)">Buy</button>
                          </div>
                        </div>
                      </div>

                        <!-- <div class="card">
                            <img src="\images\men_fashion\men5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                             <div class="bottom">
                              <h5 class="card-title">Men Fashion 5:<p>1,999Rs</p></h5>
                            
                              <button class="btn btn-primary" onclick="addToCart('Men Fashion 5', 1,999)">Buy</button>
                              </div> -->
                            </div>
                          </div>
                        </div>
                        </div>


                          <div class="section3">
                            <p>Women Fashion</p>
                            <div class="container1">
                        
                                <div class="card">
                                    <img src="\images\women_fashion\women1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                     <div class="bottom">
                                      <h5 class="card-title">Women Fashion 1:<p>2,000 Rs</p></h5>
                                     
                                      <button class="btn btn-primary" onclick="addToCart('Women Fashion 1', 2000)">Buy</button>
                                      </div>
                                    </div>
                                  </div>
                        
                        
                                    <div class="card">
                                        <img src="\images\women_fashion\women2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                         <div class="bottom">
                                          <h5 class="card-title">Women Fashion 2:<p>5,000 Rs</p></h5>
                                          
                                          <button class="btn btn-primary" onclick="addToCart('Women Fashion 3', 5000)">Buy</button>
                                          </div>
                                        </div>
                                      </div>
                        
                        
                                        <div class="card">
                                            <img src="\images\women_fashion\women3.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                             <div class="bottom">
                                              <h5 class="card-title">Women Fashion 3:<p>1,000 Rs</p></h5>
                                             
                                              <button class="btn btn-primary" onclick="addToCart('Women Fashion 4', 1000)">Buy</button>
                                              </div>
                                            </div>
                                          </div>
                                            <div class="card">
                                                <img src="\images\women_fashion\women4.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                 <div class="bottom">
                                                  <h5 class="card-title">Women Fashion 4:<p>2,999 Rs</p></h5>
                                                 
                                                  <button class="btn btn-primary" onclick="addToCart('Women Fashion 5', 2999)">Buy</button>
                                                  </div>
                                                </div>
                                              </div>
                        
                                                <!-- <div class="card">
                                                    <img src="\images\women_fashion\women5.jpg" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                     <div class="bottom">
                                                      <h5 class="card-title">Women Fashion 5:<p>1,999 Rs</p></h5>
                                                     
                                                      <button class="btn btn-primary" onclick="addToCart('Women Fashion 5', 1999)">Buy</button>
                                                      </div> -->
                                                    </div>
                                                  </div>
                                            </div>
                                            </div>
                                       
                                                  <div class="section4">
                                                    <p>Kids Fashion</p>
                                                    <div class="container1">
                                                
                                                        <div class="card">
                                                            <img src="\images\kids_fashion\dress1.jpg" class="card-img-top" alt="...">
                                                            <div class="card-body">
                                                             <div class="bottom">
                                                              <h5 class="card-title">Kids Fashion 1:<p>1000 Rs</p></h5>
                                                             
                                                              <button class="btn btn-primary" onclick="addToCart('Kids Fashion 1', 1000)">Buy</button>
                                                              </div>
                                                            </div>
                                                          </div>
                                                
                                                
                                                            <div class="card">
                                                                <img src="\images\kids_fashion\dress2.jpg" class="card-img-top" alt="...">
                                                                <div class="card-body">
                                                                 <div class="bottom">
                                                                  <h5 class="card-title">Kids Fashion 2:<p>500 Rs</p></h5>
                                                                  
                                                                  <button class="btn btn-primary" onclick="addToCart('Kids Fashion 2', 500)">Buy</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                
                                                
                                                                <div class="card">
                                                                    <img src="\images\kids_fashion\dress3.jpg" class="card-img-top" alt="...">
                                                                    <div class="card-body">
                                                                     <div class="bottom">
                                                                      <h5 class="card-title">Kids Fashion 3:<p>500 Rs</p></h5>
                                                                     
                                                                      <button class="btn btn-primary" onclick="addToCart('Kids Fashion 3', 500)">Buy</button>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                    <div class="card">
                                                                        <img src="\images\kids_fashion\dress4.jpg" class="card-img-top" alt="...">
                                                                        <div class="card-body">
                                                                         <div class="bottom">
                                                                          <h5 class="card-title">Kids Fashion 4:<p>2500 Rs</p></h5>
                                                                         
                                                                          <button class="btn btn-primary" onclick="addToCart('Kids Fashion 4', 2500)">Buy</button>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                
                                                                        <!-- <div class="card">
                                                                            <img src="\images\kids_fashion\dress5.jpg" class="card-img-top" alt="...">
                                                                            <div class="card-body">
                                                                             <div class="bottom">
                                                                              <h5 class="card-title">Kids Fashion 5:<p>150 Rs</p></h5>
                                                                              
                                                                              <button class="btn btn-primary" onclick="addToCart('Kids Fashion 5', 2500)">Buy</button>
                                                                              </div> -->
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                    </div>

                                                                          <div class="section5">
                                                                            <p>Fruits</p>
                                                                            <div class="container1">
                                                                        
                                                                                <div class="card">
                                                                                    <img src="\images\fruits\banana.jpg" class="card-img-top" alt="...">
                                                                                    <div class="card-body">
                                                                                     <div class="bottom">
                                                                                      <h5 class="card-title">Banana:<p>150 Rs</p></h5>
                                                                                      
                                                                                      <button class="btn btn-primary" onclick="addToCart('Banana', 150)">Buy</button>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                        
                                                                        
                                                                                    <div class="card">
                                                                                        <img src="\images\fruits\grapes.jpg" class="card-img-top" alt="...">
                                                                                        <div class="card-body">
                                                                                         <div class="bottom">
                                                                                          <h5 class="card-title">Grapes:<p>80 Rs</p></h5>
                                                                                         
                                                                                          <button class="btn btn-primary" onclick="addToCart('Grapes', 80)">Buy</button>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                        
                                                                        
                                                                                        <div class="card">
                                                                                            <img src="\images\fruits\mango.jpg" class="card-img-top" alt="...">
                                                                                            <div class="card-body">
                                                                                             <div class="bottom">
                                                                                              <h5 class="card-title">Mango:<p>200 Rs</p></h5>
                                                                                             
                                                                                              <button class="btn btn-primary" onclick="addToCart('Mango', 200)">Buy</button>
                                                                                              </div>
                                                                                            </div>
                                                                                          </div>
                                                                                            <div class="card">
                                                                                                <img src="\images\fruits\orange.jpg" class="card-img-top" alt="...">
                                                                                                <div class="card-body">
                                                                                                 <div class="bottom">
                                                                                                  <h5 class="card-title">Orange:<p>100 Rs</p></h5>
                                                                                                
                                                                                                  <button class="btn btn-primary" onclick="addToCart('Orange', 100)">Buy</button>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                        
                                                                                                <!-- <div class="card">
                                                                                                    <img src="\images\fruits\watermelon.jpg" class="card-img-top" alt="...">
                                                                                                    <div class="card-body">
                                                                                                     <div class="bottom">
                                                                                                      <h5 class="card-title">Watermelon:<p>50Rs</p></h5>
                                                                                                     
                                                                                                      <button class="btn btn-primary" onclick="addToCart('Watermelon', 50)">Buy</button>
                                                                                                      </div> -->
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>
                                                                                            </div>
                         

    
   

      
       <script src="/js/products.js"></script>
  </body>
</html>