body{
    display: flex;
    align-content: center;
}
.section1{
     height:500px;
     width:500px;
     margin:auto;
     display: flex;
     align-content: center;
     
}
p{
    color:green;
    font-size: 30px;
    text-align: center;
    margin:auto;
   
    
}